<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Netlify Login - NIH OITE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "application/usa_banner" %>

    <div class="usa-section">
      <div class="display-flex flex-align-center flex-column">
        <%= button_to "Sign in with Github", user_github_omniauth_authorize_path, class: "usa-button" %>
      </div>
    </div>
  </body>
</html>
