<% if @page %>
  <% content_for :content_top do %>
      <%= @page.rendered_content %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= form_with method: :get, url: events_path, class: "oite-sidebar__item" do |form| %>
    <% if @from %>
      <%= form.hidden_field(nil, name: "from", value: @from) %>
    <% end %>

    <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
      <% @event_filters.each do |filter| %>
        <input
          id="<%= filter.name %>-accordion-input"
          type="hidden"
          name="accordion[<%= filter.name %>]"
        >
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="<%= @selected_filters[filter.name].length > 0 || @open_accordions[filter.name] %>"
            aria-controls="<%= filter.name %>-accordion-content"
            data-accordion-state-input="<%= filter.name %>-accordion-input"
          >
            <%= filter.name.titleize.capitalize %>
          </button>
        </h4>
        <div id="<%= filter.name %>-accordion-content" class="usa-accordion__content">
          <% filter.options.each do |option| %>
            <div class="usa-checkbox">
              <input
                class="usa-checkbox__input"
                id="filter-<%= filter.name %>-<%= option.value.parameterize %>"
                type="checkbox"
                name="<%= filter.name %>[]"
                value="<%= option.value %>"
                data-submit-form-on-click
                <%= "checked" if @selected_filters[filter.name].include?(option) %>
              />
              <label class="usa-checkbox__label" for="filter-<%= filter.name %>-<%= option.value.parameterize %>">
                <%= option.label %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render "pages/sidebar_items" %>

<% end %>

<% if !@events.empty? %>
  <% current_date = nil %>
  <% @events.each do |event| %>
    <% is_new_date = current_date.nil? || event.date.strftime("%D") != current_date %>

    <% if is_new_date %>
      <% if current_date.present? %>
          </div>
        </div>
      <% end %>
      <div class="grid-row">
        <div class="grid-col">
          <hr>
        </div>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <h2 class="font-heading-lg"><%= event.date.strftime("%b %e, %Y") %></h2>
        </div>
        <div class="tablet:grid-col-8">
    <% end %>

    <% current_date = event.date.strftime("%D") %>

    <div class="oite-event">
      <% if event.type %>
        <div class="oite-event__type oite-event__type--<%= event.type.parameterize %>">
          <span class="usa-tag"><%= event.type %></span>
        </div>
      <% end %>
      <h3 class="oite-event__title margin-y-1">
        <%= link_to event.title, event_path(event), class: "usa-link text-no-underline" %>
      </h3>
      <time datetime="<%= event.date %>" class="oite-event__time text-bold">
        <%= uswds_icon "alarm", class: "text-primary-dark" %>
        <span class="margin-right-1"><%= event.date.strftime("%a, %b %e, %Y") %></span>
        |
        <span class="margin-left-1"><%= event.start.strftime("%l:%M %p") %></span>
        –
        <%= event.end.strftime("%l:%M %p") %> ET
      </time>
      <% if event.location %>
        <div class="oite-event__location line-height-sans-2">
          <%= uswds_icon("location_on", class: "text-primary-dark") %>
          <strong>Location:</strong>
          <%= event.location %>
        </div>
      <% end %>
      <% if event.open_to.length > 0 %>
        <div class="oite-event__audience margin-y-1">
          <%= uswds_icon("person", class: "text-primary-dark") %>
          <strong>Intended audience:</strong>
          <% event.open_to.sort.each do |audience| %>
            <%= link_to audience, events_path(open_to: [audience], from: @from), class: "margin-x-05" %>
          <% end %>
        </div>
      <% end %>
      <% if event.nih_only? || event.required? %>
        <div class="oite-event__warnings">
          <% if event.nih_only? %>
            <div>
              <%= uswds_icon "lock", class: "text-primary-darker" %>
              You must be affiliated with the NIH to register for this event
            </div>
          <% end %>
          <% if event.required? %>
            <div class="text-warning-darker text-bold">
              <%= uswds_icon "warning" %>
              This event is required for the audience listed above
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="oite-event__description margin-y-1 p-summary">
        <%= event.rendered_content_excerpt %>
      </div>
      <!--
      <div class="oite-event__actions margin-y-1">
        <button disabled class="usa-button">Register</button>
        <button disabled class="usa-button usa-button--outline">Add to calendar</button>
      </div>
      -->
      <% if event.topic.length > 0 %>
        <div class="oite-event__topics">
          <strong>Topics:</strong>
          <% event.topic.each do |topic| %>
            <%= link_to topic, events_path(topic: [topic], from: @from), class: "margin-x-05" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_date.present? %>
    </div>
  <% end %>
<% else %>
  <% if @not_found %>
    <%= @not_found.rendered_content %>
  <% end %>
<% end %>
