<div class="grid-row grid-gap">
  <div class="grid-col-12">
    <h1>Events</h1>
    <% if @page %>
      <%= @page.rendered_content %>
    <% end %>
  </div>
</div>

<div class="grid-row grid-gap">
  <aside class="grid-col-12 desktop:grid-col-4">
<%= form_with method: :get, class: "usa-form margin-x-auto margin-bottom-1" do |form| %>
  <fieldset class="usa-fieldset">
    <legend class="usa-legend"><h3>Filter by audience</h3></legend>
    <% @audiences.each do |audience| %>
      <%
        is_selected = @selected_audiences.include?(audience)
        is_only_one_selected = is_selected && @selected_audiences.size == 1
      %>
      <% if is_only_one_selected then %>
        <% # We're disabling the checkbox, but we need to persist the value on form submit %>
        <input type="hidden" name="audience[]" value="<%= audience %>">
      <% end %>
      <div class="usa-checkbox">
        <input
          class="usa-checkbox__input usa-checkbox__input--tile"
          id="filter-<%= audience.parameterize %>"
          type="checkbox"
          name="audience[]"
          value="<%= audience %>"
          <%= if is_selected then "checked" end %>
          <%= if is_only_one_selected then "disabled" end %>
          data-submit-form-on-click
        />
        <label class="usa-checkbox__label" for="filter-<%= audience.parameterize %>">
          <%= audience %>
        </label>
      </div>
    <% end %>
  </fieldset>
<% end %>
  </aside>
  <div class="grid-col-12 desktop:grid-col-8">

    <ul class="usa-collection oite-events">
      <% @events.each do |event| %>
        <li class="usa-collection__item oite-event">
          <div class="usa-collection__calendar-date">
            <time datetime="<%= event.date %>">
              <span class="usa-collection__calendar-date-month"><%= event.date.strftime("%b").upcase %></span>
              <span class="usa-collection__calendar-date-day"><%= event.date.strftime("%d") %></span>
            </time>
          </div>
          <div class="usa-collection__body">
            <div class="usa-collection__heading">
              <h3 class="margin-0">
                <%= link_to event.title, event_path(event), class: "usa-link" %>
              </h3>
              <div class="oite-event__time text-italic">
                <time datetime="<%= event.start.strftime("%F") %>"><%= event.start.strftime("%A, %B %-d, %Y %l:%M %p") %></time>
                –
                <time datetime="<%= event.end.strftime("%F") %>"><%= event.end.strftime("%l:%M %p") %></time>
              </div>
            </div>
            <div class="usa-collection__description">
              <% unless event.speaker_names.empty? %>
                <div class="oite-event__speakers margin-y-1">
                  <h4 class="margin-0">Speakers</h4>
                  <ul class="usa-list">
                    <% event.speaker_names.each do |speaker| %>
                    <li>
                      <%= speaker%>
                    </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="usa-prose p-summary">
                <%= event.rendered_content%>
              </div>
              <div class="oite-event__audiences margin-y-1">
                <% event.audience.each do |audience| %>
                  <%= link_to audience, events_path(audience: [audience]), class: "usa-button usa-button--accent-cool text-bold text-uppercase font-ui-2xs" %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
