<% if @page.hero.present? && @page.hero.enabled? %>
    <% content_for :hero do %>
      <%= render partial: "application/hero", locals: { hero: @page.hero } %>
    <% end %>
<% end %>

<% content_for :content_top do %>
  <% if @page.expired? %>
    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">This page has expired</h4>
        <p class="usa-alert__text">
          This page expired on <%= @page.expires_at.strftime("%B %d, %Y") %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<% if @show_sidebar %>
  <% content_for :sidebar do %>
    <%= render "application/side_nav" %>
    <% @page.sidebar_blocks.each do |block| %>
      <div class="sidebar-block">
        <%= block.rendered_content %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= @page.rendered_content %>
