<div class="grid-row grid-gap">
  <div class="grid-col-12">
    <% if @page.expired? %>
      <div class="usa-alert usa-alert--warning">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">This page has expired</h4>
          <p class="usa-alert__text">
            This page expired on <%= @page.expires_at.strftime("%B %d, %Y") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="grid-row grid-gap">
    <% if @show_sidebar %>
      <aside class="grid-col-4">
        <%= render "application/side_nav" %>

        <% @page.sidebar_blocks.each do |block| %>
          <div class="sidebar-block">
            <%= block.rendered_content %>
          </div>
        <% end %>
      </aside>
      <% end %>

  <main class="grid-col-<%= if @show_sidebar then 8 else 12 end %> usa-prose">
    <%= @page.rendered_content %>
  </main>

</div>
