<%= render "application/demo_site_banner" if Rails.configuration.x.show_demo_banner %>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">
          <%= link_to t('shared.header.title'), root_path %>
        </em>
      </div>
      <button class="usa-menu-btn"><%= t('shared.header.menu') %></button>
    </div>
    <nav aria-label="<%= t('shared.header.primary') %>" class="usa-nav">
      <div class="usa-nav__inner">
        <button class="usa-nav__close">
          <%= image_tag "@uswds/uswds/dist/img/usa-icons/close.svg", role: "img", alt: t('shared.header.close') %>
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <% menu.items.each_with_index do |item, index| %>
            <% if user_signed_in? || item.public? %>
              <li class="usa-nav__primary-item">
                <% if item.has_children? %>
                  <button class="usa-accordion__button usa-nav__link <%= if item.is_for_page_or_descendant?(@page) then "usa-current" end %>" aria-expanded="false" aria-controls="extended-nav-section-<%= index %>">
                    <span><%= item.text %></span>
                  </button>
                  <ul id="extended-nav-section-<%= index %>" class="usa-nav__submenu" hidden="">
                    <% item.children.each do |child| %>
                      <li class="usa-nav__submenu-item">
                        <%= link_to child.text, content_page_path(child.page.filename), class: "usa-nav__link" %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <%= link_to item.text, content_page_path(item.page.filename), class: "usa-nav__link #{"usa-current" if item.is_for_page_or_descendant?(@page)}" %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <% if user_signed_in? %>
              <li class="usa-nav__secondary-item">
                <%= link_to "Admin", "/admin/" %>
              </li>
              <li class="usa-nav__secondary-item">
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "usa-button usa-button--unstyled", form_class: "display-inline" %>
              </li>
            <% else %>
              <li class="usa-nav__secondary-item">
                <%= button_to "Sign in with Github", user_github_omniauth_authorize_path, class: "usa-button usa-button--unstyled", form_class: "display-inline" %>
              </li>
            <% end %>
          </ul>
          <% if ENV["SEARCH_GOV_AFFILIATE"].present? %>
            <section aria-label="Search component">
              <form id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get" class="usa-search usa-search--small" role="search">
                <%= hidden_field_tag "affiliate", ENV["SEARCH_GOV_AFFILIATE"], autocomplete: "off" %>
                <label class="usa-sr-only" for="query">Enter Search Terms</label>
                <input type="search" name="query" id="query" autocomplete="off" class="usa-input usagov-search-autocomplete" />
                <button class="usa-button" type="submit">
                  <%= image_tag "@uswds/uswds/dist/img/usa-icons-bg/search--white.svg", class: "usa-search__submit-icon", alt: "Search" %>
                </button>
              </form>
            </section>
          <% end %>
        </div>
      </div>
    </nav>
</header>
