<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "application/usa_banner" %>

    <%= render "application/header" %>

    <main id="main-content">

      <%= yield(:hero) %>

      <div class="grid-container usa-section">

        <% content_top = yield(:content_top) %>
        <% if content_top.present? %>
          <div class="grid-row">
            <div class="tablet:grid-col-12">
              <%= content_top %>
            </div>
          </div>
        <% end %>

        <% sidebar = yield(:sidebar) %>
        <% if sidebar.present? %>
          <div class="grid-row grid-gap">
            <aside class="tablet:grid-col-4">
              <%= sidebar%>
            </aside>
            <div class="tablet:grid-col-8">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>

      </div>

      <%= yield(:content_bottom) %>
    </main>

    <%= render "application/footer" %>
  </body>
</html>
